# Whatchlist
A Python script to monitor watchlist stocks performance by comparing the current market price against predefined base and support levels.

In [1]:
import yfinance as yf
import pandas as pd

In [2]:
def analyze_stocks(list_A, base_A, support_A):
    # Download last closing prices
    data = yf.download(list_A, period="1d", progress=False)
    closing = data['Close'].iloc[-1]

    # Ensure correct order of closing prices
    last_A = [closing[ticker] for ticker in list_A]

    # Create DataFrame
    stocks_A = pd.DataFrame({
        'Stock': list_A,
        'Base': base_A,
        'Support': support_A,
        'Last Price': last_A})
    
    stocks_A['Change from Base (%)'] = (stocks_A['Last Price'] - stocks_A['Base'])/stocks_A['Base']*100
    stocks_A['Change from Support (%)'] = (stocks_A['Last Price'] - stocks_A['Support'])/stocks_A['Support']*100

    # Styling function
    def color_change(val):
        color = 'green' if val > 0 else 'red'
        return f'color: {color}'

    # Return styled DataFrame
    styled_stocks_A = stocks_A.style \
        .map(color_change, subset=['Change from Base (%)', 'Change from Support (%)']) \
        .format({
            'Last Price': '{:.0f}',
            'Change from Base (%)': '{:.2f}',
            'Change from Support (%)': '{:.2f}'})
    return styled_stocks_A

In [3]:
def analyze_stocks_realtime(list_A, base_A, support_A):
    # Get realtime prices using .fast_info['lastPrice']
    last_A = []
    for ticker in list_A:
        try:
            stock = yf.Ticker(ticker)
            last_price = stock.fast_info['lastPrice']
        except Exception:
            last_price = None
        last_A.append(last_price)

    # Create DataFrame
    stocks_A = pd.DataFrame({
        'Stock': list_A,
        'Base': base_A,
        'Support': support_A,
        'Last': last_A})

    # Create DataFrame
    stocks_A = pd.DataFrame({
        'Stock': list_A,
        'Base': base_A,
        'Support': support_A,
        'Last Price': last_A})
    
    stocks_A['Change from Base (%)'] = (stocks_A['Last Price'] - stocks_A['Base'])/stocks_A['Base']*100
    stocks_A['Change from Support (%)'] = (stocks_A['Last Price'] - stocks_A['Support'])/stocks_A['Support']*100

    # Styling function
    def color_change(val):
        color = 'green' if val > 0 else 'red'
        return f'color: {color}'

    # Return styled DataFrame
    styled_stocks_A = stocks_A.style \
        .map(color_change, subset=['Change from Base (%)', 'Change from Support (%)']) \
        .format({
            'Last Price': '{:.0f}',
            'Change from Base (%)': '{:.2f}',
            'Change from Support (%)': '{:.2f}'})
    return styled_stocks_A

## Banking

### Big Banks

In [4]:
list_A = ["BBCA.JK", "BBRI.JK", "BMRI.JK", "BBNI.JK"]
base_A = [7400, 3360, 4350, 3670]
support_A = [8275, 3650, 4510, 3950]

stocks_A = analyze_stocks_realtime(list_A, base_A, support_A)
stocks_A

### Second liner Banks

In [5]:
list_B = ["BBTN.JK", "BRIS.JK", "BNGA.JK", "NISP.JK", "PNLF.JK"]
base_B = [770, 2040, 1590, 1220, 252]
support_B = [1080, 2410, 1660, 1305, 252]

stocks_B = analyze_stocks_realtime(list_B, base_B, support_B)
stocks_B

### Digital Banks

In [6]:
list_C = ["ARTO.JK", "BBYB.JK"]
base_C = [1250, 156]
support_C = [1590, 206]

stocks_C = analyze_stocks_realtime(list_C, base_C, support_C)
stocks_C